{
  "parser": "@babel/eslint-parser",
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
    "exports": false,
    "module": false,
    "require": false
  },
  "extends": [
    "amo/base",
    "plugin:amo/typescript",
    "prettier"
  ],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {
        "devDependencies": [
          "tests/**/*.js"
        ]
      }
    ],
    // We do not use Jest, yet
    "jest/valid-expect": "off",
    // We almost only use anonymous functions...
    "func-names": "off",
    // We don't use .tsx files
    "amo/only-tsx-files": "off",
    // Disabled due to https://github.com/import-js/eslint-plugin-import/issues/2104
    "import/extensions": [0, "never"]
  }
}
