{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
    "exports": false,
    "module": false,
    "require": false
  },
  "extends": [
    "amo",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {
        "devDependencies": [
          "Gruntfile.js",
          "tests/**/*.js",
          "webpack.config.js",
        ]
      }
    ],
    // We do not use Jest, yet
    "jest/valid-expect": "off",
    // We almost only use anonymous functions...
    "func-names": "off"
  }
}
